.slot{
    font-size: xxx-large;
}
.noMnoP{
    margin: 0;
    padding: 0;
    font-size: x-large;
}

#betBtn{
    margin-top: 8px;
    width: 100px;
    height: 25px;
}
#spinBtn{
    width: 300px;
    height: 50px;
    font-size: x-large;
    border-color: aquamarine;
}
body{
    
}
#myDiv{
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;

}
.helper{
    font-size: large;
    font-weight: 600;
}